{% extends "base/remote_md.j2" %}

{% block title %}{% block header %}ItemLocker{% endblock %}{% endblock %}

{% block mdurl %}https://raw.githubusercontent.com/TurboJax/ItemLocker/refs/head/main/README.md?token=$(date%20+%s){% endblock %}
