{% extends "base/remote_md.j2" %}

{% block title %}{% block header %}WorkstationCommands{% endblock %}{% endblock %}

{% block mdurl %}https://raw.githubusercontent.com/TurboJax/WorkstationCommands/refs/heads/paper/readme.md?token=$(date%20+%s){% endblock %}
