{% extends 'base/base.j2' %}

{% block title %}{% block header %}TribeCTF 2025{% endblock %}{% endblock %}

{% block content %}
<a href="/ctfs/tribectf_2025/challenges">Challenges</a>
<a href="/ctfs/tribectf_2025/writeup">Writeup</a>
{% endblock %}
