{% extends 'base/base.j2' %}

{% block title %}{{ file }}{% endblock %}
{% block header %}/files/{{ file }}{% endblock %}

{% block head %}
<style>
#content a {
    background-color: rgb(233, 235, 238);
    display: block;
    width: 32px;
    height: 32px;
}
</style>
{% endblock %}

{% block content %}
<a href="/raw_files/{{ file }}"><img alt="download" height="32" src="/static/img/dl_icon.png"></a>
{{ html }}
{% endblock %}
